<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="skycom.cableit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CompanyListActivity" />
        <activity android:name=".Activity.AddressDetailActivity" />
        <activity android:name=".Activity.ProductListActivity" />
        <activity android:name=".Activity.ProductDetailActivity" />
        <activity android:name=".Activity.CompanyDetailActivity" />
        <activity android:name=".Activity.AddressEditDetailActivity" />
        <activity android:name=".Activity.CompanyEditDetailActivity" />
        <activity android:name=".Activity.CompanyNewDetailActivity" />
        <activity android:name=".Activity.ProductNewDetailActivity" />
        <activity android:name=".Activity.QuoteListActivity" />
        <activity android:name=".Activity.QuoteDetailActivity" />
        <activity android:name=".Activity.ContactDetailActivity" />
        <activity android:name=".Activity.ContactEditDetailActivity" />
        <activity android:name=".Activity.AddressNewDetailActivity" />
        <activity android:name=".Activity.ContactNewDetailActivity" />
        <activity android:name=".Activity.QuoteNewActivity" />
        <activity android:name=".Activity.QuoteLineNewActivity" />
        <activity android:name=".Activity.QuoteContactNewActivity" />
        <activity android:name=".Activity.QuoteLineEditActivity" />
        <activity android:name=".Activity.QuoteEditActivity"></activity>
    </application>

</manifest>